#top1 {
  font-family: 'Kaushan Script', cursive;
  font-size: 20px;
}

body{

	background-color: #675843;
   background-image: url("images/contact.jpg");
   background-size: cover;
   background-position: center;
   background-blend-mode: screen;
   background-attachment: fixed;
   /*background-repeat: no-repeat;*/

}

.jumbotron {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color: transparent;
}


#head1 {
	font-size: 5em;
}

#para1 {
	font-size: 2em;
}

#content {
	text-align: center;
	padding-top: 10%;
}

#copyrights{
	margin-top: 20%;
  text-align: center;
  font-weight: bold;
  font-size: 1em;
}