<!-- Header and tagline -->
<div class="main">
<h1 id="header1">NAVNEET KARNAM</h1>
<p id="para1">Web Developer</p>





  <!-- Github and linkedin icons	 -->
  <div id="share">
        <div>
              <img src="/assets/images/htmlcssjs.png" id="image">
        </div>
    <div>
    <a href="http://www.github.com/navneetkarnam"><button class="btn btn-info btn-md"><i class="fa fa-github"></i> Github</button></a>
    <a href="http://www.linkedin.com/in/navneetkarnam"><button class="btn btn-info btn-md"><i class="fa fa-linkedin-square"></i> Linkedin</button></a>
    <a href="https://www.instagram.com/navkarnam.io"><button class="btn btn-info btn-md"><i class="fa fa-instagram"></i> Instagram</button></a>
  </div>
</div>
</div>
