<div class="container container2" id="content">
  <div class="jumbotron">
    <h1><em>Navneet Karnam</em><span class="thumbnail pull-right"><img src="/assets/images/nav.jpg"></span></h1>
    <p><em>Computer Science Gradute and an aspiring Web Developer</em></p>
    <br>

    <blockquote style="text-align: center;">
      <i class="fa fa-quote-left"></i>
      <em>You keep hanging around the barbershop and one day eventually you’ll get a haircut!!</em>
    </blockquote>

    <p>
      I am a highly motivated Computer Science graduate, a self taught front-end developer and an aspiring full stack developer. The journey of learning about computers began during my tenth grade in school when I wrote my first <em>"Hello World"</em> program in Java. Since then I began to hate Java. Yes you heard me right I began to hate to code in Java since it seemed very complicated to me then. It is when I joined engineering that I got back to coding. Then I moved to the United States to pursue my Masters in Computer Science after which I discovered that I wanted to be a <em>Web Developer</em> and started to learn designing websites using the online courses and materials. I became proficient in HTML and CSS and then I realised that it is not enough for me to know just HTML and CSS, I must go ahead and continue to learn a lot more things in order to develop websites that are responsive.
    </p>
    <p>
      <em><strong>My skills currently include:</strong></em><br>

      • Programming languages: Java, C, C++ <br>
      • Web Technologies: HTML, CSS, Bootstrap, Vanilla.js, ES6, JQuery, JSON, XML, AJAX,
      Angular.js, node.js, webkit, Browser DOM manipulation using JavaScript and jQuery<br>
      • Server Side frameworks: Express, Spring MVC, RESTful Web Services. <br>
      • Tools: Arduino, VMware, Google App Engine, Eclipse, Netbeans, IntelliJ, Web Storm, Apache Tomcat.<br>
      • Databases: MySQL, MongoDB, Couch DB, JPA, Spring Hibernate.<br>
      • Operating Systems: Windows (95, 98, 2000, XP, Vista, 8, 10), Mac OS, Mint.<br>
      • Version Control: Git and GitHub<br>
    </p>
  </div>
</div>


