<!DOCTYPE html>
<html>
	<head>
		<title>navneetkarnamabout</title>
		<link rel="stylesheet" type="text/css" href="../assets/stylesheets/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="../assets/stylesheets/about.css">
		<link href="https://fonts.googleapis.com/css?family=Audiowide|Kaushan+Script|Pacifico" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	</head>

	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>

				
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
			<ul class="nav navbar-nav">
				<li id="top1"><a href="../index.html">Home</a></li>
				
			</ul>

			<ul class="nav navbar-nav navbar-right">
				<li id="top1"><a href="portfo.html">Portfolio</a></li>
				<li id="top1"><a href="about.html">About</a></li>
				<li id="top1"><a href="blog.html">Blog</a></li>
				<li id="top1"><a href="contact.html">Contact</a></li>
			</ul>
			</div>
		</nav>

		<div class="container container2">
			<p>
				<strong>Strong information technology professional with a Master of Science (M.S.) focused in Computer Science from State University of New York at New Paltz</strong>
			</p>
			<p>
				<li>1+ years of experience in the field of Developing, Testing, Integrating and Implementing
				Interactive Web based applications.</li>
				<li>Experienced with programming languages such as C, C++, Java and Scala.</li>
				<li>Experience in developing User Interface applications and responsive web applications using
				HTML, CSS3, JavaScript and jQuery.</li>
				<li>Extensive experience in front-end frameworks for JavaScript including Nodejs and Angularjs</li>
				<li>Experience using front- end frameworks for CSS3 like Bootstrap.</li>
				<li>Experienced in writing SQL queries including Joins, views and triggers.</li>
				<li>Proficiency in using Git and GitHub for continuous integration and version control.</li>
				<li>Experience in creating RESTful web services.</li>
				<li>Experienced with Browser DOM manipulation using JavaScript and jQuery.</li>
				<li>Knowledge about core Java concepts such as Classes, Objects, Polymorphism, Inheritance,
				Abstraction.</li>
				<li>Experienced with Adobe Photoshop, Microsoft Visio, Light room.</li>
				<li>Proficient in using popular text editors like Eclipse, Sublime, NetBeans, Brackets,
				Notepad++</li>
			</p>
			<br>
			<p>
				<em><strong><u>Technical Skills Summary:</u> </strong><em>
				<li>Programming languages: Java, C, C++, Scala.</li>
				<li>Web Technologies: HTML, CSS, Bootstrap, Vanilla.js, JQuery, JSON, XML, AJAX,
				Angular.js, node.js, webkit, Browser DOM manipulation using JavaScript and jQuery</li>
				<li>Server Side frameworks: Express</li>
				<li>Tools: Arduino, VMware, Google App Engine, Eclipse, Netbeans, Apache Spark.</li>
				<li>Databases: MySQL, MongoDB, Couch DB.</li>
				<li>Operating Systems: Windows (95, 98, 2000, XP, Vista, 8, 10), Mac OS, Mint.</li>
				<li>Version Control: Git and GitHub</li>
			</p>
			
		</div>


		<script   src="https://code.jquery.com/jquery-3.2.1.js"   integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="   crossorigin="anonymous"></script>

		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


		<div class="container" id="copyrights">
		 	<p><i class="fa fa-copyright"> NavneetKarnam 2017</i></p>


		 </div>
		 
	</body>
</html>