<!DOCTYPE html>
<html>
	<head>
		<title>navneetkarnamblog</title>

		<link rel="stylesheet" type="text/css" href="../assets/stylesheets/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="../assets/stylesheets/blog.css">
		<link href="https://fonts.googleapis.com/css?family=Audiowide|Kaushan+Script|Pacifico" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<meta name="viewport" content="width=device-width, initial-scale=1" />

	</head>
	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
		        	<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>

				
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
			<ul class="nav navbar-nav">
				<li id="top1"><a href="../index.html">Home</a></li>
				
			</ul>

			<ul class="nav navbar-nav navbar-right">
				<li id="top1"><a href="portfo.html">Portfolio</a></li>
				<li id="top1"><a href="about.html">About</a></li>
				<li id="top1"><a href="blog.html">Blog</a></li>
				<li id="top1"><a href="contact.html">Contact</a></li>
			</ul>
			</div>
		</nav>

		<script   src="https://code.jquery.com/jquery-3.2.1.js"   integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="   crossorigin="anonymous"></script>

		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

		<div class="container" id="content">
			<div class="jumbotron">
				<h1 id="head1">Coming soon</h1>
				<p id="para1">This space is currently being worked upon Until then have a look at my Instagram Posts</p>
				
			</div>
			
			<div>
			<iframe src="//widgets-code.websta.me/w/bc7ffad92d13?ck=MjAxNy0wOC0yOVQwMjo0OTo0NS4wMDBa" allowtransparency="true" frameborder="0" scrolling="yes" style="border:none;overflow:auto;height:390px;width:730px;"></iframe> <!-- WEBSTA WIDGETS - widgets.websta.me -->
			</div>
		</div>
		

		<div class="container" id="copyrights">
		 	<p><i class="fa fa-copyright"> NavneetKarnam 2017</i></p>


		 </div>


	</body>
</html>