<!DOCTYPE html>
<html>
<head>
	<title>navneetkarnamportfolio</title>
	<link rel="stylesheet" type="text/css" href="../assets/stylesheets/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../assets/stylesheets/portfo.css">
	<link rel="shortcut icon" type="image/x-icon" href="../assets/favicon.ico" />
	<link href="https://fonts.googleapis.com/css?family=Audiowide|Kaushan+Script|Pacifico" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1" />

</head>
	<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

		
	</div>
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
	<ul class="nav navbar-nav">
		<li id="top1"><a href="../index.html">Home</a></li>
		
	</ul>

	<ul class="nav navbar-nav navbar-right">
		<li id="top1"><a href="portfo.html">Portfolio</a></li>
		<li id="top1"><a href="about.html">About</a></li>
		<li id="top1"><a href="blog.html">Blog</a></li>
		<li id="top1"><a href="contact.html">Contact</a></li>
	</ul>
	</div>
</nav>
<div class="container portfolio-container">
	<h1>Some of my work</h1>
	<hr class="style-seven">
	<br>
	<h4>A Full-Stack Campgrounds Website:</h4>
	<div class="thumbnail">
		<img src="../assets/stylesheets/images/yelpcamp.png">
	</div>
	<br>
	<h4>A full stack blog application (MEN Stack):</h4>
	<div class="thumbnail">
		<img src="../assets/stylesheets/images/home.png">
	</div>
	<br>
	<h4>A simple color game:</h4>
	<p id="title"><em>Click on the circles to guess the color based on the RGB value!!</em></p>
	<div>
		<p data-height="265" data-theme-id="0" data-slug-hash="prNqmz" data-default-tab="js,result" data-user="navneetkarnam" data-embed-version="2" data-pen-title="Color Game" class="codepen">See the Pen <a href="https://codepen.io/navneetkarnam/pen/prNqmz/">Color Game</a> by Navneet Karnam (<a href="https://codepen.io/navneetkarnam">@navneetkarnam</a>) on <a href="https://codepen.io">CodePen</a>.</p>
		<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
	</div>
	<br>
	<h4>Post it notes Concept:</h4>
	<div>
		<p data-height="265" data-theme-id="0" data-slug-hash="XaNoym" data-default-tab="css,result" data-user="navneetkarnam" data-embed-version="2" data-pen-title="XaNoym" class="codepen">See the Pen <a href="https://codepen.io/navneetkarnam/pen/XaNoym/">XaNoym</a> by Navneet Karnam (<a href="https://codepen.io/navneetkarnam">@navneetkarnam</a>) on <a href="https://codepen.io">CodePen</a>.</p>
		<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>  
	</div>
	<br>
	<h4>Menu concept-1:</h4>
	<div>
		<p data-height="265" data-theme-id="0" data-slug-hash="pwqWqJ" data-default-tab="html,result" data-user="navneetkarnam" data-embed-version="2" data-pen-title="Menubar type1" class="codepen">See the Pen <a href="https://codepen.io/navneetkarnam/pen/pwqWqJ/">Menubar type1</a> by Navneet Karnam (<a href="https://codepen.io/navneetkarnam">@navneetkarnam</a>) on <a href="https://codepen.io">CodePen</a>.</p>
		<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
	</div>
	<br>
	<h4>Menu Concept-2:</h4>
	<div>
		<p data-height="265" data-theme-id="0" data-slug-hash="dWPjRb" data-default-tab="css,result" data-user="navneetkarnam" data-embed-version="2" data-pen-title="Menu Concept" class="codepen">See the Pen <a href="https://codepen.io/navneetkarnam/pen/dWPjRb/">Menu Concept</a> by Navneet Karnam (<a href="https://codepen.io/navneetkarnam">@navneetkarnam</a>) on <a href="https://codepen.io">CodePen</a>.</p>
		<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
	</div>
	<br>
	<h4>Menu Concept-3:</h4>
	<div>
		<p data-height="265" data-theme-id="0" data-slug-hash="yXdxoN" data-default-tab="css,result" data-user="navneetkarnam" data-embed-version="2" data-pen-title="Menu Concept 2" class="codepen">See the Pen <a href="https://codepen.io/navneetkarnam/pen/yXdxoN/">Menu Concept 2</a> by Navneet Karnam (<a href="https://codepen.io/navneetkarnam">@navneetkarnam</a>) on <a href="https://codepen.io">CodePen</a>.</p>
		<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
	</div>
	<br>
	<h4>Send Button-1:</h4>
	<div>
		<p data-height="265" data-theme-id="0" data-slug-hash="WOVPov" data-default-tab="css,result" data-user="navneetkarnam" data-embed-version="2" data-pen-title="Button1" class="codepen">See the Pen <a href="https://codepen.io/navneetkarnam/pen/WOVPov/">Button1</a> by Navneet Karnam (<a href="https://codepen.io/navneetkarnam">@navneetkarnam</a>) on <a href="https://codepen.io">CodePen</a>.</p>
		<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
	</div>
	<br>
	<h4>Login Concept:</h4>
	<div>
		<p data-height="265" data-theme-id="0" data-slug-hash="NgmqmB" data-default-tab="css,result" data-user="navneetkarnam" data-embed-version="2" data-pen-title="Login Concept" class="codepen">See the Pen <a href="https://codepen.io/navneetkarnam/pen/NgmqmB/">Login Concept</a> by Navneet Karnam (<a href="https://codepen.io/navneetkarnam">@navneetkarnam</a>) on <a href="https://codepen.io">CodePen</a>.</p>
		<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
	</div>
	<br>
	<h4>This concept was replicated just for fun:</h4>
	<div>
		<p data-height="265" data-theme-id="0" data-slug-hash="BRaPGJ" data-default-tab="html,result" data-user="navneetkarnam" data-embed-version="2" data-pen-title="BRaPGJ" class="codepen">See the Pen <a href="https://codepen.io/navneetkarnam/pen/BRaPGJ/">BRaPGJ</a> by Navneet Karnam (<a href="https://codepen.io/navneetkarnam">@navneetkarnam</a>) on <a href="https://codepen.io">CodePen</a>.</p>
		<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
	</div>
</div>



<script   src="https://code.jquery.com/jquery-3.2.1.js"   integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="   crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<body>

<div class="container" id="copyrights">
 	<p><i class="fa fa-copyright"> NavneetKarnam 2017</i></p>


 </div>

</body>
</html>