<div class="container" id="content">
  <div class="jumbotron">
    <h1 id="head1">Contact Me: </h1>
    <p id="para1"> You're not gonna hit a ridiculously long phone call menu or an automated response when you call me.
      Also your emails aren't going to the inbox abyss, never to be seen or heard from again. So please reach
      out for any information.</p>

  </div>
  <div class="container">
    <p class="email">
      E-mail:<a href="mailto: navneetkarnam@gmail.com"> navneetkarnam@gmail.com</a>
    </p>
  </div>

</div>
