<div class="container portfolio-container">
  <h1>Some of my work</h1>
  <hr class="style-seven">
  <br>
  <div *ngFor="let project of projects1">
    <h4>{{project.name}}</h4>
    <div class="thumbnail">
      <img [src]= "project.image">
    </div>
    <br>
  </div>
  <!--<h4>A full stack blog application (MEN Stack):</h4>-->
  <!--<div class="thumbnail">-->
    <!--<img src="assets/images/home.png">-->
  <!--</div>-->
  <!--<br>-->
  <div>
    <h4>A Simple Color Game:</h4>
    <p id="title"><em>Click on the circles to guess the color based on the RGB value!!</em></p>
      <iframe height='265' scrolling='no' title='Color Game' src='//codepen.io/navneetkarnam/embed/prNqmz/?height=265&theme-id=dark&default-tab=js,result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='https://codepen.io/navneetkarnam/pen/prNqmz/'>Color Game</a> by Navneet Karnam (<a href='https://codepen.io/navneetkarnam'>@navneetkarnam</a>) on <a href='https://codepen.io'>CodePen</a>.
      </iframe>
    </div>
  <br>
  <h4>Post it notes Concept:</h4>
  <div>
    <iframe height='265' scrolling='no' title='Note Making app' src='//codepen.io/navneetkarnam/embed/XaNoym/?height=265&theme-id=dark&default-tab=css,result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='https://codepen.io/navneetkarnam/pen/XaNoym/'>Note Making app</a> by Navneet Karnam (<a href='https://codepen.io/navneetkarnam'>@navneetkarnam</a>) on <a href='https://codepen.io'>CodePen</a>.
    </iframe>
  </div>
  <br>
  <h4>Menu concept-1:</h4>
  <div>
    <iframe height='265' scrolling='no' title='Menu Concept' src='//codepen.io/navneetkarnam/embed/dWPjRb/?height=265&theme-id=dark&default-tab=css,result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='https://codepen.io/navneetkarnam/pen/dWPjRb/'>Menu Concept</a> by Navneet Karnam (<a href='https://codepen.io/navneetkarnam'>@navneetkarnam</a>) on <a href='https://codepen.io'>CodePen</a>.
    </iframe>
  </div>
  <br>
  <h4>Menu Concept-2:</h4>
  <div>
    <iframe height='265' scrolling='no' title='Menu Concept 2' src='//codepen.io/navneetkarnam/embed/yXdxoN/?height=265&theme-id=dark&default-tab=css,result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='https://codepen.io/navneetkarnam/pen/yXdxoN/'>Menu Concept 2</a> by Navneet Karnam (<a href='https://codepen.io/navneetkarnam'>@navneetkarnam</a>) on <a href='https://codepen.io'>CodePen</a>.
    </iframe>
  </div>
  <br>
  <h4>Menu Concept-3:</h4>
  <div>
    <iframe height='265' scrolling='no' title='Menubar type1' src='//codepen.io/navneetkarnam/embed/pwqWqJ/?height=265&theme-id=dark&default-tab=css,result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='https://codepen.io/navneetkarnam/pen/pwqWqJ/'>Menubar type1</a> by Navneet Karnam (<a href='https://codepen.io/navneetkarnam'>@navneetkarnam</a>) on <a href='https://codepen.io'>CodePen</a>.
    </iframe>
  </div>
  <br>
  <h4>Send Button-1:</h4>
  <div>
    <iframe height='265' scrolling='no' title='Button1' src='//codepen.io/navneetkarnam/embed/WOVPov/?height=265&theme-id=dark&default-tab=css,result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='https://codepen.io/navneetkarnam/pen/WOVPov/'>Button1</a> by Navneet Karnam (<a href='https://codepen.io/navneetkarnam'>@navneetkarnam</a>) on <a href='https://codepen.io'>CodePen</a>.
    </iframe>
  </div>
  <br>
  <h4>Login Concept:</h4>
  <div>
    <iframe height='265' scrolling='no' title='Login Concept' src='//codepen.io/navneetkarnam/embed/NgmqmB/?height=265&theme-id=dark&default-tab=css,result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='https://codepen.io/navneetkarnam/pen/NgmqmB/'>Login Concept</a> by Navneet Karnam (<a href='https://codepen.io/navneetkarnam'>@navneetkarnam</a>) on <a href='https://codepen.io'>CodePen</a>.
    </iframe>
  </div>
  <br>
  <h4>This concept was replicated just for fun:</h4>
  <div>
    <iframe height='265' scrolling='no' title='BRaPGJ' src='//codepen.io/navneetkarnam/embed/BRaPGJ/?height=265&theme-id=dark&default-tab=html,result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='https://codepen.io/navneetkarnam/pen/BRaPGJ/'>BRaPGJ</a> by Navneet Karnam (<a href='https://codepen.io/navneetkarnam'>@navneetkarnam</a>) on <a href='https://codepen.io'>CodePen</a>.
    </iframe>
  </div>
</div>
