<div class="container portfolio-container">
  <h1>Some of my work</h1>
  <hr class="style-seven">
  <br>
  <h4>A Full-Stack Campgrounds Website:</h4>
  <div class="thumbnail">
    <img src="assets/images/yelpcamp.png">
  </div>
  <br>
  <h4>A full stack blog application (MEN Stack):</h4>
  <div class="thumbnail">
    <img src="assets/images/home.png">
  </div>
  <br>
  <h4>A simple color game:</h4>
  <p id="title"><em>Click on the circles to guess the color based on the RGB value!!</em></p>
  <div>
    <p data-height="265" data-theme-id="0" data-slug-hash="prNqmz" data-default-tab="js,result" data-user="navneetkarnam" data-embed-version="2" data-pen-title="Color Game" class="codepen">See the Pen <a href="https://codepen.io/navneetkarnam/pen/prNqmz/">Color Game</a> by Navneet Karnam (<a href="https://codepen.io/navneetkarnam">@navneetkarnam</a>) on <a href="https://codepen.io">CodePen</a>.</p>
    <script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
  </div>
  <br>
  <h4>Post it notes Concept:</h4>
  <div>
    <p data-height="265" data-theme-id="0" data-slug-hash="XaNoym" data-default-tab="css,result" data-user="navneetkarnam" data-embed-version="2" data-pen-title="XaNoym" class="codepen">See the Pen <a href="https://codepen.io/navneetkarnam/pen/XaNoym/">XaNoym</a> by Navneet Karnam (<a href="https://codepen.io/navneetkarnam">@navneetkarnam</a>) on <a href="https://codepen.io">CodePen</a>.</p>
    <script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
  </div>
  <br>
  <h4>Menu concept-1:</h4>
  <div>
    <p data-height="265" data-theme-id="0" data-slug-hash="pwqWqJ" data-default-tab="html,result" data-user="navneetkarnam" data-embed-version="2" data-pen-title="Menubar type1" class="codepen">See the Pen <a href="https://codepen.io/navneetkarnam/pen/pwqWqJ/">Menubar type1</a> by Navneet Karnam (<a href="https://codepen.io/navneetkarnam">@navneetkarnam</a>) on <a href="https://codepen.io">CodePen</a>.</p>
    <script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
  </div>
  <br>
  <h4>Menu Concept-2:</h4>
  <div>
    <p data-height="265" data-theme-id="0" data-slug-hash="dWPjRb" data-default-tab="css,result" data-user="navneetkarnam" data-embed-version="2" data-pen-title="Menu Concept" class="codepen">See the Pen <a href="https://codepen.io/navneetkarnam/pen/dWPjRb/">Menu Concept</a> by Navneet Karnam (<a href="https://codepen.io/navneetkarnam">@navneetkarnam</a>) on <a href="https://codepen.io">CodePen</a>.</p>
    <script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
  </div>
  <br>
  <h4>Menu Concept-3:</h4>
  <div>
    <p data-height="265" data-theme-id="0" data-slug-hash="yXdxoN" data-default-tab="css,result" data-user="navneetkarnam" data-embed-version="2" data-pen-title="Menu Concept 2" class="codepen">See the Pen <a href="https://codepen.io/navneetkarnam/pen/yXdxoN/">Menu Concept 2</a> by Navneet Karnam (<a href="https://codepen.io/navneetkarnam">@navneetkarnam</a>) on <a href="https://codepen.io">CodePen</a>.</p>
    <script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
  </div>
  <br>
  <h4>Send Button-1:</h4>
  <div>
    <p data-height="265" data-theme-id="0" data-slug-hash="WOVPov" data-default-tab="css,result" data-user="navneetkarnam" data-embed-version="2" data-pen-title="Button1" class="codepen">See the Pen <a href="https://codepen.io/navneetkarnam/pen/WOVPov/">Button1</a> by Navneet Karnam (<a href="https://codepen.io/navneetkarnam">@navneetkarnam</a>) on <a href="https://codepen.io">CodePen</a>.</p>
    <script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
  </div>
  <br>
  <h4>Login Concept:</h4>
  <div>
    <p data-height="265" data-theme-id="0" data-slug-hash="NgmqmB" data-default-tab="css,result" data-user="navneetkarnam" data-embed-version="2" data-pen-title="Login Concept" class="codepen">See the Pen <a href="https://codepen.io/navneetkarnam/pen/NgmqmB/">Login Concept</a> by Navneet Karnam (<a href="https://codepen.io/navneetkarnam">@navneetkarnam</a>) on <a href="https://codepen.io">CodePen</a>.</p>
    <script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
  </div>
  <br>
  <h4>This concept was replicated just for fun:</h4>
  <div>
    <p data-height="265" data-theme-id="0" data-slug-hash="BRaPGJ" data-default-tab="html,result" data-user="navneetkarnam" data-embed-version="2" data-pen-title="BRaPGJ" class="codepen">See the Pen <a href="https://codepen.io/navneetkarnam/pen/BRaPGJ/">BRaPGJ</a> by Navneet Karnam (<a href="https://codepen.io/navneetkarnam">@navneetkarnam</a>) on <a href="https://codepen.io">CodePen</a>.</p>
    <script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
  </div>
</div>
