#top1 {
  transition: 0.3s ease;
  color: #ffffff;
  font-family: 'Kaushan Script', cursive;
  font-size: 20px;
  text-shadow: 0px 4px 3px rgba(0,0,0,1),
               0px 8px 23px rgba(0,0,0,0.8),
               0px 18px 33px rgba(0,0,0,0.4);
  border-top: 4px solid black;
  border-bottom: 4px solid black;
  padding: 5px 0;
  margin: 0 5px;
}

#top1:hover {
  border-top: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  padding: 0.1px 0; 
}

body{

	background-color: #675843;
   background-image: url("images/contact.jpg");
   background-size: cover;
   background-position: center;
   background-blend-mode: screen;
   background-attachment: fixed;
   /*background-repeat: no-repeat;*/

}

.jumbotron {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color: transparent;

}


#head1 {
	font-size: 5em;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
           0px 8px 13px rgba(0,0,0,0.3),
           0px 18px 23px rgba(0,0,0,0.2);
}

#para1 {
	font-size: 2em;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.2),
           0px 8px 13px rgba(0,0,0,0.1),
           0px 18px 23px rgba(0,0,0,0.05);
}

#content {
	text-align: center;
	padding-top: 10%;
}

#copyrights{
	margin-top: 20%;
  text-align: center;
  font-weight: bold;
  font-size: 1em;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
           0px 8px 13px rgba(0,0,0,0.3),
           0px 18px 23px rgba(0,0,0,0.2);
}