<div class="container" id="content">
  <div class="jumbotron">
    <h1 id="head1">Coming soon</h1>
    <p id="para1">This space is currently being worked upon Until then have a look at my Instagram Posts</p>

  </div>

  <div class="insta">
    <iframe src="//widgets-code.websta.me/w/bc7ffad92d13?ck=MjAxNy0wOC0yOVQwMjo0OTo0NS4wMDBa" allowtransparency="true" frameborder="0" scrolling="yes" style="border:none;overflow:auto;height:390px;width:730px;"></iframe> <!-- WEBSTA WIDGETS - widgets.websta.me -->
  </div>
</div>
